<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="QA Automation Test Suite" parallel="classes" thread-count="2">

    <listeners>
        <listener class-name="com.qa.listeners.ListenersClass"/>
    </listeners>

    <!-- API Tests -->
    <test name="API Tests - REST Countries">
        <classes>
            <class name="com.qa.api.RestCountriesApiTest"/>
            <class name="com.qa.api.RestCountriesFilterTest"/>
        </classes>
    </test>

    <!-- UI Tests -->
    <test name="UI Tests - OrangeHRM">
        <classes>
            <class name="com.qa.ui.LoginTest"/>
            <class name="com.qa.ui.NavigationTest"/>
            <class name="com.qa.ui.PimAddEmployeeTest"/>
        </classes>
    </test>

</suite>
